[snowflake_credentials] 
user = XXX
password = XXX

[snowflake_connection] 
account = XXX.eu-central-1
warehouse = XXX

[source_db_schema]
database = snowflake_sample_data
schema = TPCH_SF1

[staging_db_schema]
database = XXX
schema = DV_STG

[rawvault_db_schema]
database = XXX
schema = DV_RAV

