{# prepare variables #}
{%- set snow_data_type = row['DATA_TYPE'] | 
    replace("DATE","Date") |
    replace("TEXT","String") |
    replace("NUMBER","Numeric") 
%}
{%- if snow_data_type == 'String' and row['CHARACTER_MAXIMUM_LENGTH'] %}
  {%- set snow_data_type_qualifier = "(" + row['CHARACTER_MAXIMUM_LENGTH'] + ")" %}
{%- elif snow_data_type == 'Numeric' and row['NUMERIC_PRECISION'] %}
  {%- set snow_data_type_qualifier =  ( row['NUMERIC_PRECISION'] | int ,row['NUMERIC_SCALE'] | int ) %}
{%-endif-%}
,
        Column('{{ row['COLUMN_NAME'] | upper }}', {{ snow_data_type }}{{ snow_data_type_qualifier }}, nullable={{ row['IS_NULLABLE'] | replace("YES","True") |  replace("NO","False") }})
