{%- for row in rows %}
    {{ row['HUB_NAME'] | lower }} = Table('{{ row['HUB_NAME'] }}', metadata, 
        Column('{{ row['HUB_NAME'][4:] }}_HSH', String(32), nullable=False, primary_key=True),
        Column('LOAD_DATETIME', Date, nullable=False),
        Column('RECORD_SOURCE', String, nullable=False),
        Column('ETL_INSERT_RUN_ID', Numeric, nullable=True),
        {%-for buskey in row['HUB_BUSINESS_KEY_DEFINITION'].split('.') %} 
        Column('{{ buskey }}', {{ datatype['C_CUSTKEY'] }}, nullable=False){{ "," if not loop.last else "\n    )" }}
    {%-endfor%}
{%-endfor%}
