INSERT INTO <<SchemaName>>."<<TableName>>"
    (   <<TargetHKColumn>>,
        <<TargetDVSatelliteColumns>>,
        <<TargetDVTimeLineColumn>>
    )
SELECT  s.<<TargetHKColumn>>,
        <<AliasDVSatelliteColumns>>,
        s.<<TargetDVTimeLineColumn>> 
  FROM (
          SELECT s.<<TargetHKColumn>>,
                 <<AliasDVSatelliteColumns>>,
                 s.<<TargetDVTimeLineColumn>>,
                 MIN(s.<<TargetDVTimeLineColumn>>) OVER (PARTITION BY s.<<TargetHKColumn>>) as MIN_<<TargetDVTimeLineColumn>>
            FROM (
                  SELECT  
                        <<AliasSourceHashKeyColumn>>,
                        <<SourceDVSatelliteColumns>>,
                        <<AliasSourceDVTimeLineColumn>>,
                        hash_md5(<<HashDiffColumn>>) as hashdiff,
                        LAG(hash_md5(<<HashDiffColumn>>)) OVER (PARTITION BY <<SourceHashKeyColumn>> ORDER BY <<SourceDVTimeLineColumn>>) as lag_hashdiff
                     FROM <<PhysicalDatabaseStage>>.<<SourceEntity>>
                     WHERE <<SourceHashKeyColumn>> IS NOT NULL
                 ) s
            WHERE (   (s.lag_hashdiff IS NULL AND s.hashdiff IS NOT NULL)
                   OR (s.lag_hashdiff IS NOT NULL AND s.hashdiff IS NULL)
                   OR  s.lag_hashdiff <> s.hashdiff)
        ) s
   LEFT OUTER JOIN <<SchemaName>>."<<TableName>>" t
       ON (    <<JoinClause>>)
   WHERE <<TimeLineFilterPart1>><<TimeLineFilterPart2>><<TimeLineFilterPart3>><<TimeLineFilterPart4>>
     AND (    <<CDC>>
           OR s.<<TargetDVTimeLineColumn>> <> s.MIN_<<TargetDVTimeLineColumn>>)
